@media only screen and (min-width:451px) and (max-width:960px){


    // ACCORDION
    .accordion{
        .accordion-header{
            .accordion-button{
                width: 18%;
                font-size: 2.5em;
            }
        }
    }

    //NOTICIAS
    .noticias-container{
        .slideIn__animation{
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    // MULTIMEDIA

    .multimedia-container{
        flex-direction: column;
    }

    .multimedia-grid-images{
        width: 75%;
    }

    .multimedia-videos{
        width: 75%;
    }

    //CONTACTO

    .contact-container{
        flex-direction: column;
    }

}