@keyframes slidein-top {
    from{
        margin-top: 200%;
    }
    to{
        margin-top: 0%
    }
}

@keyframes slidein-left {
    from{
        margin-left: 200%;
    }
    to{
        margin-left: 0%
    }
}