*{
    padding: 0;
    margin: 0;
}

/* SETEO GENERALES */

body{
    font-family: $general-font;
    box-sizing: content-box;


    .arrow{
        position: fixed;
        bottom: 75px;
        right: 40px;
        z-index: 0;
        cursor: pointer;
        img{
            width: 50px;
        }
    }
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
