.features-container{
    @extend %flex-center;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #212529, #535b63);

    .personal-features{
        padding: 12em 6em;
        @extend %flex-center;
        /* width: 100%; */
        .personal-features-items{
            color: whitesmoke;
            ul{
                text-align: center;
                list-style:none;

                li{
                    font-size: 38px;
                }
            }
        }
    }

}


