.footer-container{
    height: 100px;
    background-color: #212529;
    @extend %flex-center;
    padding: 100px;
    .nav-footer{
        display: flex;
        width: 100%;
        justify-content: space-around;
        
        .footer-item{
            width: 50px;
        }
    }
}



