.carousel-inner{
    max-height: 650px;
    overflow: hidden;
    

    .item, img{
        height: 100% !important;
        width:  100% !important;
    }
}

.navbar{
    z-index: 2;
}

.nav-item a{
    padding: 1em;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;
    font-size: 2.2em;
    
}
